*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

#swiggylogo{
    width: 60px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
    box-shadow: 0px 4px 5px gray;

    position: sticky; 
    z-index: 10;
    top: 0;
    right: 0;
    left: 0; 
    border: 2px solid red;
}

.leftnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    
}
.rightnav{
    display: flex;
}
.rightnav > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 3px;
    margin: 0px 25px;
}
.navbar2{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    border-bottom: 2px solid gray;
    padding: 10px 0px;
    margin-top: 8px;
}
.nav2right > span{
    margin: 0px 15px;
   
}
.food{
    width: 100%;
}
.main{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    width:80vw;
    margin: auto;
    row-gap: 30px;

}
.card{
    width: 17vw;
}
.card > div{
    display: flex;
}
.card:hover{
    outline: 0.5px solid gray;
    

}
.item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
}
.bullet{
    background-color: black;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    align-items: center;
    justify-content: center;
}
.offer{
    border-top: 1px solid gray;
    display: flex;
    justify-content: flex-start;
    color: #8A584B;
}
.rating{
    align-items: center;
    display: flex;
    background-color: #db7c38;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
}
.rating > .material-icons{
    font-size: 17px;
}
.card::before{
    content: 'PROMOTED';
    position: absolute;
    background-color: rgb(37, 34, 34);
    color: white;
    padding: 2px;
}
.btn> button{
    display: block;
    margin: auto;
    justify-content: center;
    background-color: white;
    color: blue;
    font-size: 17px;
    font-weight: bold;
    padding: 2px 6px;
    border: none;
    margin-top: 3px;
    visibility: hidden;
}
.card:hover .btn>button{
  visibility: visible;
}
            /* Footer desining */


footer{
    background-color: black;
    color: white;
    border: 2px solid red;
    height: 500px;
}
.footer-container > div >a{
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.footer-container > div > h5{
    color: #808080;
    padding-bottom: 10px;
}
.footer-container{
   display: grid;
   grid-template-columns: repeat(4,1fr);

}
.footer-container > div{
    display: flex;
    flex-flow: column wrap;
    padding: 100px;
}
.footerimg{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.footerimg > img{
    width: 180px;
    padding: 5px;
    padding: 10px;
    transition-duration: .5s;
    
}
.footerimg > img:hover{
    width: 200px;
}
.footer-container>div > a:hover{
    font-weight: bold;
}

      /* Making website responsive  */
@media (max-width : 800px){
    .main{
        grid-template-columns: repeat(2,auto);
       justify-items: center;
    }
    footer{
        
        grid-template-columns: auto;
     
     }
}
@media (max-width : 600px){
    .main{
        grid-template-columns: auto;
    }
    .footer-container{
        
        grid-template-columns: auto;
     
     }
}